.video-view .video-gallery {
  margin: 0;
  padding: 0; }
  .video-view .video-gallery li {
    display: inline-block;
    margin: 0 1em 1em 0;
    list-style-type: none;
    text-align: center; }
    @media (max-width: 767px) {
      .video-view .video-gallery li {
        margin: 0; } }
  .video-view .video-gallery img {
    width: 300px; }
