	<div class="banner bg-about">
		<div class="header-top about-header-top">
			<div class="container banner-drop">
				<div class="agile-logo">
					<!--<h1><a href="#">Bike<span>World</span></a></h1>-->
					<h1><a href="#">Target<span>Academy</span></a></h1>
					<!--<img class="logo" ng-src="{{logo}}" alt="" />-->
				</div>
				<div class="header-right">
					<nav>
						<ul>
							<li ng-repeat="menuItem in menus" ng-class="{'active': selectedMenuItem.name==menuItem.name}" ng-click="menuItemClicked(menuItem)" >
								<a href="#"><span>{{menuItem.renderName}}</span></a>
							</li>

							<!--<li ng-class="{'active': state=='home'}" ng-click="openItem('home')">
								<a href="#"><span>Home</span></a>
							</li>

							<li ng-class="{'active': state=='about'}" ng-click="openItem('about')">
								<a href="#"><span>About</span></a>
							</li>

							<li ng-click="openItem('home')">
								<a href="#"><span>Short Codes</span></a>
							</li>

							<li ng-click="openItem('home')">
								<a href="#"><span>Gallery</span></a>
							</li>

							<li ng-click="openItem('home')">
								<a href="#"><span>Training</span></a>
							</li>

							<li ng-click="openItem('home')">
								<a href="#"><span>Mail Us</span></a>
							</li>-->
						</ul>
					</nav>
					<div class="menu-icon"><span></span></div>
				</div>
				<div class="clearfix"> </div>
				<script>
					(function($){
					  $(".menu-icon").on("click", function(){
							$(this).toggleClass("open");
							$(".container").toggleClass("nav-open");
							$("nav ul li").toggleClass("animate");
					  });
					  
					})(jQuery);
				</script>
			</div>
		</div>
		<div class="w3ls-heading">
			<h2>{{selectedMenuItem.renderName}}</h2>	
		</div>
	</div>