<div ng-cloak class="tabsdemoStaticTabs">
	<md-content>
		<md-tabs  md-dynamic-height md-stretch-tabs="auto" md-center-tabs md-swipe-content> <!--md-border-bottom -->
			<md-tab ng-repeat="(groubName, groub) in groups">
				<md-tab-label>
					<div class="do-tab">
						{{groubName}}
					</div>
				</md-tab-label>

				<md-tab-body class="md-padding">
					<!-- videos -->
					<ul class="video-gallery" ng-if="type=='videos'">
						<li ng-repeat="element in groub">
							<a ng-click="openLightboxModal(groub, $index)">
								<img ng-src="http://placehold.it/500x500" class="img-thumbnail">
								<!--<img ng-src="{{element.thumb}}" class="img-thumbnail">-->
							</a>
						</li>
					</ul>
					<!-- //videos -->

					<!-- gallery -->
					<div ng-if="type=='images'">
						<div class="gallery-small gallery-middle" ng-repeat="image in groub">
							<div class="agileits-gallery gallery-small-text effect-3">
								<a ng-href="{{image.url}}"><img ng-src="{{image.url}}" alt="" title="{{image.title}}"/></a>
							</div>
						</div>
					</div>
					<!-- //gallery -->

					<!-- news -->
					<div ng-if="type=='news'">
						<div ng-init="splitedNews = split(groub, 3)">
							<div ng-repeat="news in splitedNews">
								<div class="col-sm-4 wthree-top-grid news-item" ng-repeat="newsObject in news" ng-class="{'no-border': $index==1}">	
									<img ng-src="http://placehold.it/500x500" alt="" />
									<!--<img ng-src="{{newsObject.url}}" alt="" />-->
									<h4 class="title">{{newsObject.title}}</h4>
									<p class="date">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
										<span>Friday, June 24, 2016 1:42 AM</span>
										</p>
									<p class="user">
										<i class="fa fa-user" aria-hidden="true"></i>
										<span>Target Admin</span>
									</p>
									<p class="description">{{newsObject.desc}}</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- //news -->
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
</div>